
Code/
discord/
GitKraken/
spotify/

cef_user_data/Dictionaries/

pulse/

session/

Thunar/

mimeapps.list

xfce4/xfconf/xfce-perchannel-xml/thunar.xml

xsettingsd/xsettingsd.conf

nwg-look/

kde.org/

dolphinrc

dconf/
